<?xml version="1.0"?>

<launch>
    <arg name="n"                        default="1"/>
    <arg name="config_path"              default="$(find vehicle_models)/config"/>
    <arg name="config"           default="$(arg config_path)/config_$(arg n).yaml"/>

<group ns="vehicle_$(arg n)">
    <!-- Carga parametros del vehiculo -->
    <rosparam command="load" file="$(arg config)"/>

    <!-- lanza el nodo de la dinamica -->
    <node pkg="vehicle_models" name="single_integrator_node" type="single_integrator_node.py" output="screen">
        <rosparam param="rate" subst_value="True">2.</rosparam>
    </node>
</group>

</launch>
